
<br>
<div class="hero-unit" style="color: #ccc;background: #000 url(http://drop.wikilab.de/store/3768/d2091d/2012-11-23-181228.png) no-repeat right bottom;">
<div style="width:50%">
<h1 style="text-shadow: 3px 3px 7px #70009d;">Pro-man</h1>
<p>Herzlich Willkommen! Hier entsteht gerade der weltbeste Task- und Projektmanager ;-)</p>
<%= link_to "Zu den Tasks &raquo;".html_safe, tasks_path, :class => "btn btn-pink btn-large" %>
</div>
</div>
<%= session.inspect %>
<hr>
<%= @current_user.inspect %>
