@import "bootstrap";
/*@import "bootstrap-responsive";*/

.comment hr {
  margin: 10px -0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
  margin-bottom: -15px;
}

#editor { position:fixed;top:85px; }
.hide-on-editor { display: none; }

.touch-only { display: none; }
.is-touch {
	.notouch-only { display: none; }
	
	.touch-only { display: inherit; }
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: auto!important; }
	.span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11 {
		width: auto!important;
	}
	#editor { position:inherit;  }
	.navbar .nav-collapse {display:none}
	.navbar.touch-only { 
		.navbar-inner { padding: 0; }
		ul.nav li a { padding: 10px 5px; }
	}
}

.task li { margin-left: 15px; }
.task li { margin-right: 15px; }

$btnPinkBackground:              #70009d;
$btnPinkBackgroundHighlight:     adjust-hue($btnPinkBackground, 20%) !default;
.btn-pink{
  @include buttonBackground($btnPinkBackgroundHighlight, $btnPinkBackground);
}



$esBackground:              #cccccc;
$esBackgroundHighlight:     adjust-hue($esBackground, 40%) !default;

.tasklist-hl--, .tasklist-hl--0, .miditask .head.tasklist-hl--, .miditask .head.tasklist-hl--0 {
  background-image: -moz-linear-gradient(top, #eee, #ccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ccc));
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  background-image: -o-linear-gradient(top, #eee, #ccc);
  background-image: linear-gradient(to bottom, #eee, #ccc);
}
.miditask .selected, .head.tasklist-hl--  .miditask .selected .head.tasklist-hl--0 {
  color:#00f; 
}

.tasklist-hl--1, .miditask .head.tasklist-hl--1 {
  background-image: -moz-linear-gradient(top, #f8e5bd, #f8c763);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8e5bd), to(#f8c763));
  background-image: -webkit-linear-gradient(top, #f8e5bd, #f8c763);
  background-image: -o-linear-gradient(top, #f8e5bd, #f8c763);
  background-image: linear-gradient(to bottom, #f8e5bd, #f8c763);
}

.tasklist-hl--1, .miditask .head.tasklist-hl--1 {
  background-image: -moz-linear-gradient(top, #f6fbb0, #f0fb4c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0fb4c), to(#f8c763));
  background-image: -webkit-linear-gradient(top, #f6fbb0, #f0fb4c);
  background-image: -o-linear-gradient(top, #f6fbb0, #f0fb4c);
  background-image: linear-gradient(to bottom, #f6fbb0, #f0fb4c);
}

.tasklist-hl--2,  .miditask .head.tasklist-hl--2{
  background-image: -moz-linear-gradient(top, #c5f7c6, #8ae78c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c5f7c6), to(#8ae78c));
  background-image: -webkit-linear-gradient(top, #c5f7c6, #8ae78c);
  background-image: -o-linear-gradient(top, #c5f7c6, #8ae78c);
  background-image: linear-gradient(to bottom, #c5f7c6, #8ae78c);
}




.tasklist-hl--3,  .miditask .head.tasklist-hl--3{
  background-image: -moz-linear-gradient(top, #f3bab8, #e68886);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3bab8), to(#e68886));
  background-image: -webkit-linear-gradient(top, #f3bab8, #e68886);
  background-image: -o-linear-gradient(top, #f3bab8, #e68886);
  background-image: linear-gradient(to bottom, #f3bab8, #e68886);
}

.tasklist-hl--3,  .miditask .head.tasklist-hl--3{
  background-image: -moz-linear-gradient(top, #e9b9fb, #d97cfb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e9b9fb), to(#d97cfb));
  background-image: -webkit-linear-gradient(top, #e9b9fb, #d97cfb);
  background-image: -o-linear-gradient(top, #e9b9fb, #d97cfb);
  background-image: linear-gradient(to bottom, #e9b9fb, #d97cfb);
}



.tasklist-hl--4,  .miditask .head.tasklist-hl--4 {
  background-image: -moz-linear-gradient(top, #daedf6, #8ec7e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#daedf6), to(#8ec7e8));
  background-image: -webkit-linear-gradient(top, #daedf6, #8ec7e8);
  background-image: -o-linear-gradient(top, #daedf6, #8ec7e8);
  background-image: linear-gradient(to bottom, #daedf6, #8ec7e8);
}


.tasklist-hl--5,  .miditask .head.tasklist-hl--5 {
  color:#fff; text-shadow: 0px 1px 1px #000;
  background-image: -moz-linear-gradient(top, #aaaaaa, #888888);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#888888));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #888888);
  background-image: -o-linear-gradient(top, #aaaaaa, #888888);
  background-image: linear-gradient(to bottom, #aaaaaa, #888888);
}

.tasklist-hl--99,  .miditask .head.tasklist-hl--99 {
  color:#fff; text-shadow: 0px 1px 1px #000;
  background-image: -moz-linear-gradient(top, #89afc2, #397491);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#89afc2), to(#397491));
  background-image: -webkit-linear-gradient(top, #89afc2, #397491);
  background-image: -o-linear-gradient(top, #89afc2, #397491);
  background-image: linear-gradient(to bottom, #89afc2, #397491);
}

